.container{
    max-width: 1400px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.container img{
    width: 400px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.container img:hover{
    transform: scale(1.02);
}

.popup{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.popup.show{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.popcnt{
    position: relative;
}
.popup img{
    width: 500px;
    border-radius: 20px;
}
button{
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 500px;
    transition: 0.1s;
}
.cursor-sm{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 500px;
    transition: 0.2s;
}
